body {
  margin: 0;
  padding: auto;
  background-image: url("./assets/textura.jpg");
  background-repeat: no-repeat;
  background-size:auto
  
}

.bautizo{
  color:whitesmoke;
  font-family:Amalfi Coast;
  font-size: 5em;
  margin-top: 0px;
  text-align: center;
  /* display:flexbox; */
}
.sofia{
  color:whitesmoke;
  font-family:Amalfi Coast;
  font-size: 5em;
  margin-bottom: 0px;
  text-align: center;
  /* display:flexbox; */
}
.fecha{
  color:whitesmoke;
  font-family:Amalfi Coast;
  font-weight: 300;
  font-size: 2em;
  /* margin-top: 5em; */
  text-align:center;
}
.paloma{
  display: block;
  margin: auto;
  height: 200px;
  margin-top: 6em;
  margin-bottom: 6em;
}


